*{
    margin: 0;
}

body{
    overflow-x: hidden;


}

.fundo1{
    background-image: url("https://i.imgur.com/ELsXaV4.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    font-family: 'Source Serif Pro', serif;
    color:white;
    height: 150px;    
}



.logo, .cabecalho{
    height: 150px;
    text-decoration: none;
    display: flex;
    align-items: center;    
    
}
.nome{
    text-decoration: none;
    font-size: 33px;
    text-align: center;
}

.ocupacao{
    font-size: 25px;
}

ul , li{
    list-style: none;

}

nav ul {
    display: flex;
    
}

a{
    color:white;
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
}

a:hover{
    border-radius: 10px;
    background-color: rgb(179, 179, 179);
}

.principal{
    display: flex;
    justify-content: center;
    height: calc(100vh - 150px); 
}

.text{
    align-items: center;    
    height: calc(100vh - 500px);
    padding-top: 70;
    
}

.container4{
    width: 1300px;
    height: calc(100vh - 200px);
    display: flex;
}

.parte1{
    flex: 1;

}

.parte2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.img1 , .img2{
    flex: 1;
}

.img1{

    background-size: cover;
    background-position: center;
    background-image: url("https://i.imgur.com/dMAcV48.png");
}

.img2{
    background-image: url("https://i.imgur.com/96zH7aV.png");
    background-size: cover;
    background-position: center;
}

.container2{   
    font-family: 'Source Serif Pro', serif;
    color:white;
    height: 350px;   
}

.titulo{ 
    font-size: 70px;;
}

.descricao{
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 450px;
    font-size: 20px;
}

.segundaPag{
    height: 100vh;

}

.terceiraPag{
    height: 100vh;
}

.img1{
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.imgur.com/96zH7aV.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.img2{
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.imgur.com/dMAcV48.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media(min-width:1500px){
    .container{
        width: 1500px;
    }
}

@media(max-width:450px){

    nav ul{
        align-items: center;
        flex-direction: column;
    }

    body{
        width: auto;
    }

    .logo{
        overflow: hidden;
        align-items: center;
    }

    header{
        width: auto;
        height: auto;
    }
    .container{
        width: calc(100vw - 20px);
    }

    .ome , .ocupacao , a{

        height: 50px;
        font-size: 15px;
    }
    .nome{
        font-size: 20px;
    }

    .container4{
        width: 400px;
    }
    .titulo{
        padding-top: 150;
        font-size: 30px;
    }
    .descricao{
        padding: 0;
        padding-top: 250px;
        font-size: 20px;
    }

    .segundaPag , .terceiraPag{
        height: 300px;
    }

    .img1,.img2{
        align-items: center;
        width: 400px;
        height: 250px;
    }
}





































